################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lr1/.vs/lr1/FileContentIndex
/lr1/.vs/lr1/CopilotIndices/17.14.1231.31060
/lr1/.vs/lr1
